<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Item</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Item</a>
                                    </li>
                                    <li class="breadcrumb-item active">Maintenance
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrumb-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="mr-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
                <div class="table-responsive">
                    <div class="button-box" th:if="${SUCCESS_MESSAGE != null}">
                        <button class="waves-effect waves-light btn mb-5 bg-gradient-success"><span th:text="${SUCCESS_MESSAGE}"></span></button>
                    </div>
                    <div class="button-box" th:if="${UPDATE_MESSAGE != null}">
                        <button class="waves-effect waves-light btn mb-5 bg-gradient-warning"><span th:text="${UPDATE_MESSAGE}"></span></button>
                    </div>
                    <div class="button-box" th:if="${DELETE_MESSAGE != null}">
                        <button class="waves-effect waves-light btn mb-5 bg-gradient-danger"><span th:text="${DELETE_MESSAGE}"></span></button>
                    </div>
                    <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                        <button class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></button>
                    </div>
                </div>
                <!-- Ajax Sourced Server-side -->
                <section id="ajax-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">Item maintenance</h4>
                                    <div align="right">
                                        <a type="button" th:href="@{/articulo/report}"  class="btn btn-outline-primary">
                                            <i data-feather='download'></i>
                                            <span>Export</span>
                                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a th:align="center" th:href="@{/articulo/create}" class="btn btn-gradient-primary">
                                        <i data-feather='plus'></i> Add entry
                                    </a>
                                    </div>
                                </div>
                                <div class="card-datatable">
                                    <table class="datatables-ajax-item table">
                                        <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Company</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p : ${entities}">
                                            <td th:text="${p.numero}"></td>
                                            <td th:text="${p.nombre}"></td>
                                            <td th:text="${p.descripcion}"></td>
                                            <td th:text="${p.compania.nombre}"></td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle hide-arrow mr-1" id="todoActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i data-feather="more-vertical" class="font-medium-2 text-body"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="todoActions">
                                                        <a class="dropdown-item" th:href="@{/articulo/update/{id}(id=${p.id})}"><i data-feather='edit'></i>&nbsp;&nbsp;Edit</a>
                                                        <a class="dropdown-item" th:href="@{/articulo/delete/{id}(id=${p.id})}"><i data-feather='trash-2'></i>&nbsp;&nbsp;Delete</a>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--/ Ajax Sourced Server-side -->

            </div>
        </div>
    </div>
    <!-- END: Content-->
</div>
</body>
</html>