<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Item</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Item</a>
                                    </li>
                                    <li class="breadcrumb-item active"><a href="#">Update</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrumb-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="mr-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic Vertical form layout section start -->
                <section id="basic-vertical-layouts">
                    <div class="row">
                        <div class="col-xl-8 offset-2 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Update item</h4>
                                </div>
                                <div class="card-body">
                                    <form autocomplete="off" th:action="@{/articulo/update}" th:object="${form}" method="post" class="form form-vertical">
                                        <input type="hidden" th:field="*{id}" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Item number</label>
                                                    <div class="input-group input-group-merge">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i data-feather='file-text'></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" name="fname-icon" placeholder="Item number" th:field="*{numero}" autocomplete="off"/>
                                                        <small th:if="${#fields.hasErrors('numero')}" class="form-text text-danger" th:text="${#fields.errors('numero')}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Item name</label>
                                                    <div class="input-group input-group-merge">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i data-feather='file-text'></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" name="fname-icon" placeholder="Item name" th:field="*{nombre}" autocomplete="off"/>
                                                        <small th:if="${#fields.hasErrors('nombre')}" class="form-text text-danger" th:text="${#fields.errors('nombre')}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <div class="input-group input-group-merge">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i data-feather='book'></i></span>
                                                        </div>
                                                        <input type="text"  class="form-control" name="fname-icon" placeholder="Description" th:field="*{descripcion}" autocomplete="off"/>
                                                        <small th:if="${#fields.hasErrors('descripcion')}" class="form-text text-danger" th:text="${#fields.errors('descripcion')}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Type</label>
                                                    <div class="input-group input-group-merge">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i data-feather='shopping-bag'></i></span>
                                                        </div>
                                                        <select class="form-control"  th:field="*{tipo.id}">
                                                            <option th:each="q : ${tipo}" th:value="${q.id}" th:text="${q.nombre}+'--'+${q.descripcion}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Company</label>
                                                    <div class="input-group input-group-merge">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i data-feather='shield'></i></span>
                                                        </div>
                                                        <select class="form-control"  th:field="*{compania.id}">
                                                            <option th:each="q : ${compania}" th:value="${q.id}" th:text="${q.nombre}+'--'+${q.descripcion}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <input type="submit" value="Save"  class="btn btn-primary mr-1"></input>
                                                <a type="submit" th:href="@{/articulo}"  class="btn btn-outline-secondary">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Basic Vertical form layout section end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->
</div>
</body>
</html>