<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
<!-- BEGIN: Content-->
<div class="app-content content ">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/forms/select/select2.min.css}">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Shipping</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/common">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">Shipping</a>
                                </li>
                                <li class="breadcrumb-item active"><a href="#">Create</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                <div class="form-group breadcrumb-right">
                    <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="mr-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="mr-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Vertical form layout section start -->
            <section id="basic-vertical-layouts">
                <div class="row">
                    <div class="col-xl-8 offset-2 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Create shipping</h4>
                            </div>
                            <div class="card-body">
                                <form autocomplete="off" th:action="@{/salida/create}" th:object="${form}" method="post" class="form form-vertical">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Item</label>
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i data-feather='box'></i></span>
                                                    </div>
                                                    <select class="select-lg select2"  th:field="*{articulo.id}">
                                                        <option th:each="q : ${articulo}" th:value="${q.id}"
                                                                th:text="${q.numero}+'--'+${q.nombre}+'--'+${q.descripcion}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="contact-info-icon">Qty</label>
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i data-feather='bookmark'></i></span>
                                                    </div>
                                                    <input type="number" id="contact-info-icon" class="form-control" name="contact-icon" placeholder="Qty" th:field="*{qty}"/>
                                                    <small th:if="${#fields.hasErrors('qty')}" class="form-text text-danger" th:text="${#fields.errors('qty')}"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" value="Save"  class="btn btn-primary mr-1"/>
                                            <a type="submit" th:href="@{/salida}"  class="btn btn-outline-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic Vertical form layout section end -->

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.select2').each(function () {
                var $this = $(this);
                $this.wrap('<div class="position-relative"></div>');
                $this.select2({
                    // the following code is used to disable x-scrollbar when click in select input and
                    // take 100% width in responsive also
                    dropdownAutoWidth: true,
                    width: '100%',
                    dropdownParent: $this.parent()
                });
            });
        })
    </script>
</div>
<!-- END: Content-->
</div>
</body>
</html>